# FICHIERS INGORES POUR UN PROJET SPHINX + READ THE DOCS:

# 0. Répertoire en cours de construction

source/
source/00_foundations/
source/01_data_and_tools/
source/03_deep_learning/
source/04_modern_ai/


# 1. Fichiers et répertoires générés par Sphinx

# Répertoire de build (généré par Sphinx) 
build/
_dist/


# 2. Fichiers générés par Python (environnements virtuels, cache, etc.)

# Environnements virtuels Python 
venv/
.env/
.venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*.$py.class

# Fichiers de configuration IDE/éditeur
.idea/
.vscode/
*.swp


# 3. Fichiers spécifiques à Read the Docs

# Fichiers générés par Read the Docs
_readthedocs/


# 4. Fichiers temporaires et systèmes

# Fichiers temporaires
*.tmp
*.bak
*.log
.DS_Store
*.aux
*.out

# Fichiers de configuration locaux
.local/

# 5. Fichers de présentation non nécessaires

Read_The_Docs.pptx


# 6. Fichiers LaTex

*.tex


# 7. Fichiers vidéos

*.mp4
*.m4v

# 8. Fichiers .sh

*.sh